@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.player-wrapper {
  background-color: #2d2f31;
  border-bottom: 5px solid black;
}
.react-player {
  margin: auto;
  width: 100% !important;
}
.sub-navbar {
  padding: 2% 10%;
}

.sub-navbar-items {
  display: flex;
  padding-bottom: 2%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d1d7dc;
}
.sub-navbar-items li {
  padding: 0 2rem;
  font-size: 1.2rem;
  list-style-type: none;
}
.sub-navbar-items li:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
.sub-contents {
  margin-top: 2%;
  margin-bottom: 5%;
}

.courseContents-dropdown-contents ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.courseContents-dropdown-contents ul li {
  padding: 1rem 0;
  width: 70%;
  background-color: #f7f9fa;
  border-top: 1px solid #d1d7dc;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.overview-dropdown-contents {
  padding: 0 10%;
}

.overview-dropdown-contents-about {
  padding: 1rem;
  /* padding-bottom: 1%; */
  border-bottom: 1px solid #d1d7dc;
}
/* .overview-dropdown-contents-about h3{
      font-size: 1.6rem;
  } */
.overview-dropdown-contents-numbers {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d1d7dc;
}
.overview-dropdown-contents-numbers > div {
  padding: 1rem;
  font-size: 1.2rem;
}
.overview-dropdown-contents-certificate {
  padding: 1rem;
  border-bottom: 1px solid #d1d7dc;
}
.overview-dropdown-contents-certificate p {
  font-size: 1.2rem;
  margin-top: 1%;
}
.overview-dropdown-contents-certificate button {
  padding: 1rem 4rem;
  margin-top: 2%;
  cursor: no-drop;
}
.overview-dropdown-contents-description {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #d1d7dc;
}
.overview-dropdown-contents-instructor{
  display: flex;
}
.overview-dropdown-contents-description-left,
.overview-dropdown-contents-instructor-left {
  flex: 1 1;
}

.overview-dropdown-contents-description-right,
.overview-dropdown-contents-instructor-right {
  flex: 3 1;
}
.overview-dropdown-contents-instructor {
  padding: 1rem;
}
.no-notes {
  text-align: center;
  margin-top: 5%;
}

.notes-dropdown-contents,
.reviews-dropdown-contents {
  padding: 0 10%;
}
.notes-hero-section,
.reviews-hero-section {
  margin: 0 auto;
  max-width: 84.8rem;
  padding: 0 2.4rem;
}
.note-field {
  display: flex;
  justify-content: center;
  align-items: center;
}
.note-button {
  border: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  color: black;
}
.note-button:hover {
  border: 1px solid black;
}
.note-entry-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
}
.dropdown-text-font-change {
  position: relative;
}
.dropdown-text-font-change-items ul {
  padding: 0.8rem 0;
}
.dropdown-text-font-change-items ul button {
  padding: 0 1.6rem;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto;
  background-color: #fff;
  z-index: 1;
}

.active-note-section form input,
.reviews-dropdown-contents form input {
  min-height: 70px;
  padding: 1.3rem 1.6rem;
  width: 100%;
  border: 1px solid black;
}
.note-edit-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
.hero-saved-notes {
  padding: 1.3rem 0 0.6rem 1.2rem;
}
.saved-notes-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.saved-notes p,
.hero-saved-notes p {
  padding: 2.4rem;
  font-size: 28px;
  /* margin: 1rem 0 0; */
  background-color: #f7f9fa;
  word-wrap: break-word;
}


.hero-saved-reviews{
  margin-top: 1%;
  padding: 10px 5px;
  border-radius: 20px;
  background-color: #2d2f31;
  color: #fff;
}

.hero-saved-reviews p {
  font-size: 1.25rem;
  padding: 10px 5px;
  color: #fff;
}

@media only screen and (max-width: 500px){
  .sub-navbar-items li{
    font-size: 1rem;
  }
  .overview-dropdown-contents-numbers, .overview-dropdown-contents-description {
    display: block;
  }
  .overview-dropdown-contents-instructor{
    display: block;
  }
}